* {
    margin: 0;
    padding: 0;
  }

  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
         * default document font size = 16px, 1rem = 16px, 100% = 16px
         * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
        */
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
  }


body {
    font-size: 1.5rem;
    font-family: 'Kumbh Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    border-bottom: 0.1rem solid hsl(220, 14%, 75%);
    margin-bottom: 5rem;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
}

.heading{
    height: 6rem;
    display: flex;
    align-items: center;
    
}

.responsive-img {
    max-height: 70%;
    width: auto;
    margin: 0 1rem;
}


#right-head{
    justify-content: flex-end;
}

ul{
    list-style: none;
    margin-left: 2rem;
}

ul li a{
    text-decoration: none;
    color: black;
}


.heading ul li{
    margin: 0 1.5rem;
    padding: 2rem 0;
    
}


.heading ul li:hover{
    border-bottom: 0.2rem solid hsl(26, 100%, 55%);
    font-weight: 600;
}


header nav {
    display: none;
}

/* NAVIGATION COLUMN */
#nav-column {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
#left-column {
    width: 66%;
    background-color: white;
}

#right-column {
    background-color: black;
    width: 34%;
    height: 100vh;
    opacity: 0.75;
}

#nav-column nav {
    margin-top: 7rem;
}

#close {
    position: relative;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
}

.column li {
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 2rem 0; /* I'm using 0 for the horizontal because it has inherited margin-left*/
}


/* MAIN */
.main {
    margin-top: 6rem;
    /* height: calc(100vh - 6rem); */
    /* border: 1px solid blue; */

}




/* CAROUSEL */

.main, #left, #right, .slideshow-container {
    width: 100%; /*making the carousel images responsive*/
} 

.slideshow-container {
    position: relative;
}

.containers {
    width: 100%;
    overflow: hidden; 
    display: none;
    cursor: pointer; 
}

.carousel-img {
    width: 100%;
    height: auto;
}

/* SCROLL BUTTONS */

.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    transition: 0.4s ease;
    border-radius: 50%; 
    background-color: white;
    
}

/* placing the forward button at the right */
.forward {
    right: 2rem;
    
}

/* spacing the back button from the margin */
.back {
    left: 2rem;
}


/* DESCRIPTION AND PRICE */
h1{
    font-size: 3rem;
}

p {
    line-height: 2.5rem;
    /* font-size: 1.5rem; */
}

.orange-clr {
    color:hsl(26, 100%, 55%) ;
  }
  
  .pale-orange{
    background-color: hsl(25, 100%, 94%);
  }
  
  .grayish-blue {
   color: hsl(219, 9%, 45%);
  }
  
  .light-grayish-blue{
    background-color: hsl(223, 64%, 98%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    border-radius: 2rem;
    
  }

  .light-grayish-blue img {
    cursor: pointer;
  }
  
  .company-name{
      text-transform: uppercase;
      font-weight: bold;
  }

  .text{
      padding: 2rem;
  }

  .price{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  #current-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .strike{
    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
  }

  .orange-btn {
    background-color:hsl(26, 100%, 55%) ;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    height: 6rem;
    border-radius: 2rem;
    margin: 1.5rem 0;
    cursor: pointer;
}


/*THUMBNAILS*/

.thumbnails {
    width: 100%;
    display: none; /* invisible in mobile */
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.thumbnail-img {
    width: 20%;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    background-color: white;
}

.img-thumb {
    width: 100%;
    height: auto;
    display: block; /*this removes the space that appears between the div and img...remove this statement and see what happens*/
}

.thumbnail-img:hover {
    opacity: 0.5;
}

/*LIGHTBOX*/

#lightbox {
    display: none; /* invisible on mobile */
    position: fixed;
    z-index: 1;
    /* padding: 1rem 6.2rem 0 6.2rem; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
    margin: auto;
}

.lightbox-container {
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    max-width: 1200px;
   
}

.lightbox-div {
    width: 100%;
    display: none; /*images are invisible by default*/
}

.lightbox-img{
    width: 100%;
    border-radius: 1rem;
}

.lightnails {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.lightnail-img {
    width: 20%;
    /* overflow: hidden; */
    border-radius: .9rem;
    
}

.img-light {
    width: 100%;
    height: 100%; /* had to do this because of the space between the div and the image*/
    border-radius: .5rem;
}




/*mobile screen 425px / 16px = 26.56em*/
@media (min-width: 26.56em){
    .main {
        width: 70%;
        margin: 6rem auto;
    }
}

/*tablet screen 768px / 16px = 48em*/
@media screen and (min-width: 48em) {
     header nav {
        display: block;
     }
    
    #menu,.back, .forward {
        display: none;
    }

    .carousel-img {
        border-radius: 2rem;
    }

    .thumbnails {
        display: flex;
    }

    .main {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: calc(100vh - 6rem);
        
    }

    #left {
        width: 35%; /*this is my saving grace. it was the solution to the image being bigger than it's container*/
        /* border: 1px solid red; */
    }

    #right {
        width: 50%;
    }

    .price {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .marg1rem {
        margin: 0.5rem 2rem 0.5rem 0;
    }

    #current-price {
        justify-content: start;
    }

    #add-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .orange-btn {
        width: 50%;
    }

    .light-grayish-blue {
        width: 40%;
    }
}

/* desktop screen 1024px / 16px = 64em */

@media (min-width: 64em){
    #left, #right {
        width: 33%; /*this is my saving grace. it was the solution to the image being bigger than it's container*/
        /* border: 1px solid red; */
    }
 }

 /* desktop screen 1440px / 16px = 90em */

 @media (min-width: 90em){
    #left, #right {
        width: 30%; /*this is my saving grace. it was the solution to the image being bigger than it's container*/
        /* border: 1px solid red; */
    }
 }
